<paper-material elevation="1" class="maincontent">
  Welcome to Silent Auction. A project under National Honor Society.

  The website is still under construction.
</paper-material>

<% if admin_signed_in? %>
  <paper-material elevation="1" class="maincontent">
    <% if @auctions.empty? %>
      <paper-item>You are not running any active auctions.</paper-item>
    <% else %>
      <% @auctions.each do |auction| %>
        <paper-item>
          <paper-item-body two-line>
            <div><%= auction.name %>/div>
            <div secondary><%= host %></div>
          </paper-item-body>
        </paper-item>
        <paper-item>Item 2</paper-item>
      <% end %>
    <% end %>
  </paper-material>
<% end %>
