<paper-material elevation="1" class="maincontent">
  Welcome to Silent Auction. A project under National Honor Society.

  The website is still under construction.
</paper-material>

<paper-material elevation="1" class="maincontent">
  <!-- <paper-listbox> -->
    <paper-item>
      <paper-item-body two-line>
        <div>Show your status</div>
        <div secondary>Your status is visible to everyone</div>
      </paper-item-body>
    </paper-item>
    <paper-item>Item 2</paper-item>
  <!-- </paper-listbox> -->
</paper-material>
