<h2>Edit <%= resource_name.to_s.humanize %></h2>

<form method='post'>
  <div class="field">
    <label>Email</label>
    <input name='email' type='email'></input>
  </div>

  <div class="field">
    <label>Password</label>
    <input name='password' type='password'></input>
  </div>

  <div class="field">
    <label>New Password Confirmation</label>
    <input name='repassword' type='password'></input>
  </div>

  <div class="field">
    <label>Old Password</label>
    <input name='oldpassword' type='password'></input>
  </div>

  <div class="actions">
    <paper-button id="submit">Sign up</paper-button>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%# button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %> To bad.</p>

<%# link_to "Back", :back %>
