<paper-material elevation="1" class="maincontent">
  <h2>Sign up</h2>

  <form method='post'>
    <paper-input-container always-float-label>
      <label>Name</label>
      <input name='name' required></input>
    </paper-input-container>

    <paper-input-container always-float-label>
      <label>Email</label>
      <input name='email' type='email' required></input>
    </paper-input-container>

    <paper-input-container always-float-label>
      <label>Password</label>
      <input name='password' type='password' required></input>
      <%# <paper-input-char-counter></paper-input-char-counter>%>
    </paper-input-container>

    <paper-input-container always-float-label>
      <label>Password Confirmation</label>
      <input name='repassword' type='password' required></input>
    </paper-input-container>

    <paper-button id="submit" type="submit">Sign up</paper-button>
  </form>

  <hr>
  <%# render "devise/shared/links" %>
</paper-material>

<paper-material elevation="1" class="maincontent">
  <h3>Note:</h3>
  The sign in is meant for auction owners to be able to manage their auctions.
  If you are simply an auction bidder, then you do not need an account.
</paper-material>
