<paper-material elevation="1" class="maincontent">
  <h2>Start an Auction</h2>

  <%= form_for(@auction, url: auctions_path(), html: {id: "form", method: :post}) do |f| %>
    <%= render "form", f: f %>
    <paper-button id="submit">Create Auction</paper-button>
  <% end %>


</paper-material>
