<h2>Change your password</h2>

<form method="post" action="some url">
  <div class="field">
    <label>New Password</label><br />
    <input name='newpass' type="password" required></input>
  </div>

  <div class="field">
    <label>Confirm new password</label><br />
    <input name='renewpass' type="password" required></input>
  </div>

  <div class="actions">
    <paper-button id="submit">Change my password</paper-button>
  </div>
</form>

<%# render "devise/shared/links" %>
