<paper-material elevation="1" class="maincontent">
  <h2>New Item</h2>

  <%= form_for(@item, url: items_path(auction_id: params[:auction_id]), html: {id: "form", method: :post}) do |f| %>
    <%= render 'form', f: f %>

    <paper-button id="submit">Create Item</paper-button>
  <% end %>
</paper-material>
