// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.itemDescription {
  width: 100%;
  word-wrap: break-word;
}

table {
  width: 100%;
  tr#head {
    font-weight: bold;
    width: 33%;
  }
}
