paper-material.maincontent {
  margin-top: 30px;
  width:75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  overflow: hidden;
}

paper-button.content {
  color: rgb(23, 148, 201);
}

div.titlebar {
  width: 100%;
  height: 30px;
  div.title {
    float: left;
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
  }

  paper-button#newauction {
    float: right;
  }
}

paper-item.auctions {
  width: 100%;
}

div.errors {
  background-color: rgb(250, 122, 122);
  padding-top: 2px;
  padding-left: 10px;
  padding-bottom: 5px;
}
